@charset "utf-8";
/* CSS Document */


.content--contact{
    background-color: #1e1e24;
    font-size: 0.9rem;
    height: auto;
	width: 50%;
    overflow: hidden;
    border: 4px solid #16A085;
    padding: 10px;
    border-radius: 15px;
	margin:2rem auto;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}
@media only screen and (max-width: 800px) {
    .content--contact{
		width: 80%;
    }
}

.form{
	text-align: left;
	padding-left: 5%;
	display: flex;
	flex-direction: column;
	border: 1px solid white;
	
}

.form__text{
	color: white;
	font-family: 'Oswald', sans-serif;
}
 .form__text--tittle{
	text-align: center;
	font-family: Brush Script MT, Brush Script Std, cursive;
	font-size: 250%;
	color: #005f69;
	margin-bottom: 2rem;
}

.form__text--message{
	margin: 5%;
}
.form__text--double-space{
	margin: 1rem 0;
}
.boton{
	margin: .5rem auto;
	padding: 0.5%;
	font-family: 'Oswald', sans-serif;
	width: 6rem;
	height: 3rem;
	color: white;
	background-color: #1e1e24;
	border: 1px solid white;
	cursor: pointer;
	transition: 300ms;
}
.boton:hover{
	background-color: white;
	color: #1e1e24;
	border: 1px solid #1e1e24;
	box-shadow: 0 0 0 1px white;
}
.form__text--required::after{
	content: '*';
	color: #C42808;
}
.form__element{
	float: left;
	margin: .5rem 0;
}
.form__text-input{
	width: 60%;
}







